/* p {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Sacramento', cursive;
} */

.bold {
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

.big-font {
    font-size: 24px;
    font-family: 'Cinzel', serif;
}

.tall-font {
    line-height: 50px;
    font-family: 'Sacramento', cursive;
}
